<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>短信验证码DEMO</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" th:href="@{/floating-labels.css}">

    </head>
    <body>
        <form class="form-signin">

            <div class="row">
                <div class="col-md-8 form-label-group">
                    <input type="text" id="inputMobile" class="form-control" placeholder="请输入手机号码" required="required" autofocus="autofocus" />
                    <label for="inputMobile">手机号：</label>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">发送</button>
                </div>
            </div>

            <div class="form-label-group">
                <input type="text" id="inputCaptcha" class="form-control" placeholder="请输入验证码" required="required"/>
                <label for="inputCaptcha">验证码：</label>
            </div>

        </form>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    </body>
</html>